option.ca{
    color: brown;
}
option.ro{
    color: red;
}
option.na{
    color: orange;
}
option.am{
    color: yellow;
}
option.ve{
    color: green;
}
option.az{
    color: blue;
}
option.vi{
    color: violet;
}
option.gr{
    color: gray;
}
